@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700;800;900&display=swap");
/* -----------------------------------------------
				CSS Styles 
--------------------------------------------------

    Template Name: NoonPost. - Personal Blog HTML Template
    
--------------------------------------------------

Table of Content

    - Global
    - Helpers
    - Section
    - Navigation
    - Widget
    - Post
    - Post-single
    - Categorie
    - Sliders
    - About
    - Contact 
    - Footer
	  - Preloader 
    - Responsive
    - Dark
 

----------------------------------- */
/* -----------------------------------
		 Global
----------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none !important;
  list-style: none !important;
}

*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #F9F9FF;
  color: #94979e;
  font-weight: 400;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 900;
  line-height: 1.4;
  color: #131315;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p:first-letter,
h5:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
}

.max-width-400 {
  width: 400px;
}

.inner-width {
  width: 600px;
  margin: auto;
}

.form-control:focus {
  outline: none !important;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.container-fluid {
  max-width: 1350px;
}

.container-wrap {
  padding: 0px 50px;
  width: 100%;
}

.main {
  margin-top: 84px;
  border-top: 1px solid #F9F9FF;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.blog-list {
  padding-left: 30px;
}

/* ------------------------------
		 Helpers
------------------------------ */
.sign {
  width: 500px;
  margin: auto;
  display: block;
  position: relative;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.sign-form .btn-custom {
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-form .sign-controls {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.sign-form .sign-controls .btn-link {
  color: #94979e;
}

.sign-form .sign-controls .btn-link:hover {
  color: #f67280 !important;
  text-decoration: none;
}

.sign-form .sign-controls .custom-control label {
  line-height: 23px;
}

.sign-form .btn-link {
  color: #131315 !important;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent !important;
}

.sign-form .btn-link:hover {
  color: #f67280 !important;
  text-decoration: none;
}

.sign-form p {
  font-size: 14px;
  margin-bottom: 0px !important;
}

.sign-form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f67280;
  border-color: #f67280;
}

.sign-form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before:focus {
  outline: none;
}

.page404 {
  padding: 100px 0px 100px 0px;
}

.page404-image {
  text-align: center;
  margin-bottom: 30px;
}

.page404-content {
  text-align: center;
}

.page404-content h3 {
  margin-bottom: 10px;
}

.page404-content p {
  margin-bottom: 30px;
}

.pagination {
  padding: 0px 0px 60px 0px;
}

.pagination ul {
  text-align: center;
  margin: auto;
}

.pagination ul li {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #f67280;
  text-align: center;
  margin-right: 8px;
  line-height: 45px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pagination ul li:last-child {
  margin-right: 0px;
}

.pagination ul li a {
  color: #f67280;
  font-weight: 700;
  font-size: 15px;
}

.pagination ul li a i {
  line-height: 45px;
}

.pagination ul li.active, .pagination ul li:hover {
  background-color: #f67280;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.pagination ul li.active a, .pagination ul li:hover a {
  color: #ffffff;
}

.pagination ul li.active a i, .pagination ul li:hover a i {
  color: #ffffff;
}

.search {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #F9F9FF;
  -webkit-transform: translate(0%, 100%) scale(0, 0);
          transform: translate(0%, 100%) scale(0, 0);
  opacity: 0;
  visibility: hidden;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.search-width {
  position: relative;
}

.search.search-open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
          transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: 999999;
}

.search .close {
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: #f67280;
  border: none;
  opacity: 1;
  visibility: visible;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.search .close i {
  color: #ffffff;
}

.search .close:hover {
  opacity: 0.8 !important;
}

.search-form {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 40px;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.search-form input {
  font-size: 16px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  color: inherit;
  border: 0px;
  font-weight: 400;
  border-radius: 40px 0px 0px 40px;
  padding: 15px 10px 15px 30px;
  z-index: 1;
  border: 1px solid #eee;
  text-transform: capitalize;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.search-form .search-btn {
  background-color: #f67280;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0px;
  cursor: pointer;
  border-radius: 0px 40px 40px 0px;
  width: 130px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.search-form .search-btn:hover {
  opacity: 0.8;
}

.newslettre {
  padding: 70px 0px 70px 0px;
  background-color: #1d1d1d;
}

.newslettre-form {
  margin: auto;
  margin-bottom: 50px;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 20px;
}

.newslettre-form .form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newslettre-form .form-group {
  margin-bottom: 0;
  width: 100%;
}

.newslettre-form .form-control {
  height: 45px;
  background-color: #F9F9FF;
  border: 0px;
  padding: 0px 20px;
  border-radius: 20px 0 0 20px;
  color: #94979e;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid #eee;
}

.newslettre-form .form-control:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  background-color: #ffffff;
  border: 1px solid #eee;
}

.newslettre-form .submit-btn {
  background-color: #f67280;
  width: 150px;
  height: 45px;
  border-radius: 0 20px 20px 0;
  color: #ffffff;
  font-weight: 700;
  margin-top: 0px;
  border: 1px solid #f67280;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.newslettre-form .submit-btn:hover {
  opacity: 0.8;
}

.newslettre-info .title {
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: capitalize;
}

.newslettre-info p {
  margin-bottom: 30px;
  color: #d9d9d9;
}

.newslettre .social-icones li {
  margin-right: 20px;
  font-weight: 500;
}

.newslettre .social-icones li a {
  margin-right: 0px;
  color: #d9d9d9;
  font-size: 14px;
}

.newslettre .social-icones li a:hover {
  color: #f67280 !important;
}

.newslettre .social-icones li a:hover i {
  color: #f67280;
}

.newslettre .social-icones li a i {
  margin-right: 8px;
  color: #d9d9d9;
}

.newslettre .social-icones li:last-child {
  margin-right: 0px;
}

.btn-custom {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 20px;
  background-color: #f67280;
  color: #ffffff;
  border: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  padding: 7px 18px;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-family: "Inter Tight", sans-serif;
}

.btn-custom:hover, .btn-custom:focus {
  color: #ffffff;
  background-color: #f67280;
  outline: none;
  opacity: 0.8;
}

.btn-link {
  background-color: #f67280;
  color: #ffffff !important;
  padding: 1px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  font-size: 13px;
  border-radius: 20px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-link:hover {
  color: #ffffff;
  background-color: #131315;
}

.btn-link .fa-arrow-left,
.btn-link .fa-arrow-right {
  margin-top: 4px;
  margin-right: 5px;
}

.btn-link .fa-arrow-back {
  margin-top: 4px;
  margin-right: 5px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #f67280;
  border-radius: 50%;
  display: inline-block;
  margin: 2px 6px !important;
}

.social-icones li a {
  display: block;
  text-align: center;
  margin-right: 10px;
}

.social-icones li a i {
  font-size: 14px;
  color: #94979e;
}

.social-icones li a i:hover {
  color: #f67280 !important;
}

.social-media a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin-right: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-media a i {
  font-size: 13px;
  line-height: 30px;
  color: #ffffff;
}

.social-media a:hover {
  background-color: #F9F9FF;
}

.social-media a:hover i {
  color: #94979e;
}

.color-facebook {
  background-color: #3b5998;
}

.color-instagram {
  background-color: #c32aa3;
}

.color-youtube {
  background-color: #e52d27;
}

.color-twitter {
  background-color: #1dcaff;
}

.color-dribbble {
  background-color: #ddd;
}

.color-pinterest {
  background-color: #bd081c;
}

/*margin-bottom*/
.mb-100 {
  margin-bottom: 100px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

/*margin-top*/
.mt-100 {
  margin-top: 100px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt--10 {
  margin-top: -10px;
}

.mt--20 {
  margin-top: -20px;
}

.pt-85 {
  padding-top: 85px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-55 {
  padding-top: 55px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

/* -----------------------------------
	theme-switch
----------------------------------- */
.theme-switch {
  position: relative;
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theme-switch-wrapper label {
  margin-bottom: 0px !important;
}

.theme-switch input {
  display: none;
}

.slider {
  bottom: 0;
  cursor: pointer;
  right: 0px;
  top: -18px;
  text-align: center;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  color: #131315;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 500;
}

.slider i {
  font-weight: 900;
}

.slider span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.slider .icon-dark {
  display: none;
}

input:checked + .slider {
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

input:checked + .slider .icon-dark {
  display: block;
}

input:checked + .slider .icon-light {
  display: none;
}

input:checked + .slider:before {
  background-color: #131315;
}

.ads-banner {
  text-align: center;
}

.ads-banner img {
  border-radius: 5px;
}

/* ------------------------------
		 Section
------------------------------ */
.section {
  margin-top: 65px;
  background-color: #F9F9FF;
}

.section-title {
  margin-bottom: 30px;
  margin-top: 5px;
}

.section-title h5 {
  text-transform: capitalize;
  position: relative;
}

.section-title h5:after {
  background-color: #f67280;
  display: block;
  position: absolute;
  content: "";
  left: auto;
  top: -5px;
  width: 30px;
  height: 2px;
}

.section-title p {
  margin-bottom: 0;
}

/* ===========================
          Header
==============================*/
.header {
  background-color: #ffffff;
  padding: 20px 15px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-main .site-branding {
  margin-right: auto;
}

.header-main .site-branding .img {
  width: 162px;
  height: 52px;
}

.header-main .site-branding .light-logo {
  display: none;
}

.header-main .header-action-items {
  margin-left: auto;
}

.header-action-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-action-items .header-social li {
  margin-right: 10px;
}

.header-action-items .header-social li a {
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  display: block;
}

.header-action-items .header-social li a i {
  color: #131315;
}

.header-action-items .header-social li a:hover i {
  color: #f67280 !important;
}

.header-action-items .switch-icon i {
  color: #131315;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  border: 1px solid #eee;
}

.header-action-items .switch-icon i:hover {
  background-color: #f67280;
  color: #ffffff;
  border-color: #f67280;
}

.header-action-items .search-icon i {
  background-color: #f67280;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  margin-left: 5px;
}

.header-action-items .search-icon i:hover {
  color: #ffffff;
  opacity: 0.8;
}

.header-action-items .navbar-toggler {
  width: 30px;
  height: 40px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  display: none;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-action-items .navbar-toggler span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  margin: auto;
  -webkit-box-shadow: 0px -8px 0 0px #000000, 0px 8px 0 0px #000000;
          box-shadow: 0px -8px 0 0px #000000, 0px 8px 0 0px #000000;
  background: #000000;
}

.main-menu {
  position: relative;
}

.main-menu .nav-item {
  text-align: center;
}

.main-menu .nav-item:last-child {
  margin-right: 0px;
}

.main-menu .nav-link {
  font-size: 15px;
  color: #131315;
  font-weight: 700;
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  font-family: "Inter Tight", sans-serif;
  padding: 0px 40px 0px 0px;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-menu .nav-link:hover, .main-menu .nav-link.active {
  color: #f67280 !important;
  background-color: transparent;
}

.main-menu .nav-link i {
  color: #f67280;
}

.main-menu .dropdown-menu {
  background-color: #ffffff;
  width: 200px;
  position: absolute;
  top: 40px;
  z-index: 10;
  border-radius: 20px;
  padding: 30px 30px 15px 30px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  border: 0;
}

.main-menu .dropdown-sub-menu {
  background-color: #ffffff;
  width: 200px;
  margin-left: 200px;
  position: absolute;
  top: 0px;
  padding: 30px;
  padding-bottom: 10px;
  z-index: 10;
  border-radius: 5px;
}

.main-menu .dropdown-item {
  font-size: 14px;
  padding: 0px  0px  15px  0px;
  color: #131315;
  font-weight: 600;
  font-family: "Inter Tight", sans-serif;
  text-transform: capitalize;
}

.main-menu .dropdown-item:hover, .main-menu .dropdown-item:focus, .main-menu .dropdown-item.active {
  background-color: transparent;
  color: #f67280;
}

.main-menu .dropdown-item:hover:after, .main-menu .dropdown-item:focus:after, .main-menu .dropdown-item.active:after {
  opacity: 1;
}

.main-menu .dropdown-toggle::after {
  margin-left: 0;
  vertical-align: 0;
  border: 0;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  vertical-align: middle;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: inline-block;
  padding-left: 6px;
}

@media all and (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 40px;
    padding-left: 0;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
  }
  .navbar .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
}

/* ------------------------------
		  Widget
------------------------------ */
.widget {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.widget .title {
  margin-bottom: 10px;
}

.widget .section-title {
  margin-bottom: 15px;
}

.widget-author {
  text-align: center;
}

.widget-author .author-img {
  margin-bottom: 25px;
  position: relative;
}

.widget-author .author-img img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.widget-author .author-content .name {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
}

.widget-author .author-content .bio {
  text-align: center;
  margin-bottom: 20px;
}

.widget-author .author-content .social-icones {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-author .btn-link {
  margin-bottom: 10px;
}

.widget-latest-posts .post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.widget-latest-posts .post-item .image {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.widget-latest-posts .post-item .image img {
  border-radius: 20px;
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.widget-latest-posts .post-item .image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.widget-latest-posts .post-item .count {
  position: absolute;
  content: "";
  left: -5px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f67280;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  font-weight: 800;
  line-height: 1.6;
  z-index: 1;
  border: 2px solid #ffffff;
}

.widget-latest-posts .post-item .content {
  width: calc(100% - 80px);
}

.widget-latest-posts .post-item .content .entry-title {
  font-weight: 800;
  font-size: 15px;
  color: #131315;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0px 0px 3px 0px;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "Inter Tight", sans-serif;
}

.widget-latest-posts .post-item .content .entry-title a {
  display: inline;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), color-stop(98%, currentColor));
  background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
}

.widget-latest-posts .post-item .content .entry-title a:hover {
  color: #131315;
  text-decoration: none;
  background-size: 100% 1px;
}

.widget-latest-posts .post-item .content .post-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  text-transform: capitalize;
  font-size: 13px;
  color: #444;
  font-weight: 400;
}

.widget-latest-posts .post-item .content .post-date i {
  color: #94979e;
  margin-right: 5px;
  direction: ltr;
}

.widget-latest-posts .post-item .content .btn-link {
  margin-bottom: 8px;
}

.widget-latest-posts .post-item:last-child {
  margin-bottom: 0;
}

.widget-categories li {
  background-color: #F9F9FF;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.widget-categories li .categorie {
  font-weight: 700;
  line-height: 1.2;
  padding: 5px 12px 5px 12px;
}

.widget-categories li .categorie:hover {
  color: #f67280;
}

.widget-categories li span {
  float: right;
  color: #94979e;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.widget-categories li:last-child {
  margin-bottom: 0px;
}

.widget-instagram {
  display: -ms-grid;
  display: grid;
  grid-gap: 6px;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.widget-instagram li {
  overflow: hidden;
  border-radius: 5px;
}

.widget-instagram li img {
  border-radius: 5px;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.widget-instagram li img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.widget-comments {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.widget-comments .title {
  margin-bottom: 30px;
}

.widget-comments .comment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.widget-comments .comment-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.widget-comments .comment-item .content p {
  margin-bottom: 15px;
}

.widget-comments .comment-item .content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.widget-comments .comment-item .content .info li {
  margin-bottom: 0;
  font-size: 14px;
  color: #444;
  text-transform: capitalize;
  font-weight: 500;
}

.widget-comments .comment-item .content .info li.dot {
  margin: 2px 10px !important;
}

.widget-form .title {
  margin-bottom: 30px;
}

.widget-form .form-group {
  margin-bottom: 20px;
}

.widget-form .form-control {
  background-color: #F9F9FF;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 15px 20px;
  font-size: 14px;
  color: #131315;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.widget-form .form-control:focus, .widget-form .form-control:hover {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  background-color: #ffffff;
}

.widget-form label {
  font-weight: 400;
  font-size: 14px;
}

.widget-form label span {
  line-height: 0;
}

.widget-next-post .post-item, .widget-previous-post .post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.widget-next-post .post-item .image, .widget-previous-post .post-item .image {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.widget-next-post .post-item .image img, .widget-previous-post .post-item .image img {
  border-radius: 20px;
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.widget-next-post .post-item .image img:hover, .widget-previous-post .post-item .image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.widget-next-post .post-item .count, .widget-previous-post .post-item .count {
  position: absolute;
  content: "";
  left: -5px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f67280;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  font-weight: 800;
  line-height: 1.6;
  z-index: 1;
  border: 2px solid #ffffff;
}

.widget-next-post .post-item .content, .widget-previous-post .post-item .content {
  width: calc(100% - 80px);
}

.widget-next-post .post-item .content .entry-title, .widget-previous-post .post-item .content .entry-title {
  font-weight: 800;
  font-size: 15px;
  color: #131315;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0px 0px 3px 0px;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "Inter Tight", sans-serif;
}

.widget-next-post .post-item .content .entry-title a, .widget-previous-post .post-item .content .entry-title a {
  display: inline;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), color-stop(98%, currentColor));
  background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
}

.widget-next-post .post-item .content .entry-title a:hover, .widget-previous-post .post-item .content .entry-title a:hover {
  color: #131315;
  text-decoration: none;
  background-size: 100% 1px;
}

.widget-next-post .post-item .content .post-date, .widget-previous-post .post-item .content .post-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  text-transform: capitalize;
  font-size: 13px;
  color: #444;
  font-weight: 400;
}

.widget-next-post .post-item .content .post-date i, .widget-previous-post .post-item .content .post-date i {
  color: #94979e;
  margin-right: 5px;
  direction: ltr;
}

.widget-next-post .post-item .content .btn-link, .widget-previous-post .post-item .content .btn-link {
  margin-bottom: 8px;
}

.widget-next-post .post-item:last-child, .widget-previous-post .post-item:last-child {
  margin-bottom: 0;
}

.widget-tags ul li {
  background-color: #F9F9FF;
  padding: 4px 11px;
  margin-bottom: 5px;
  margin-right: 2px;
  border-radius: 20px;
  font-size: 13px;
  text-transform: capitalize;
  color: #444;
  font-weight: 500;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.widget-tags ul li:hover {
  background-color: #f67280 !important;
}

.widget-tags ul li:hover a {
  color: #ffffff !important;
}

.widget-ads img {
  border-radius: 10px;
}

/* ------------------------------
		 Post
------------------------------ */
.entry-title {
  padding: 20px 0px 3px 0px;
  margin-bottom: 10px;
}

.entry-title a {
  color: #131315;
  display: inline;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), color-stop(98%, currentColor));
  background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
}

.entry-title a:hover {
  color: #131315;
  text-decoration: none;
  background-size: 100% 1px;
}

.entry-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.entry-meta li {
  text-transform: capitalize;
  font-weight: 600;
  color: #444;
  font-size: 13px;
  font-family: "Inter Tight", sans-serif;
}

.entry-meta li img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.entry-meta li i {
  margin-right: 5px;
  font-size: 14px;
}

.entry-meta .post-author a {
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.entry-meta .post-author a:hover {
  color: #f67280 !important;
}

.entry-meta .post-date .dot,
.entry-meta .post-comment .dot,
.entry-meta .post-timeread .dot,
.entry-meta .post-view .dot {
  margin: 2px 10px !important;
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #f67280;
  border-radius: 50%;
}

.post-card {
  background-color: #ffffff !important;
  padding: 30px;
  border-radius: 20px !important;
  margin-bottom: 60px;
  display: block;
  position: relative;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post-card-image {
  margin-top: -60px;
  margin-bottom: 25px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08), 0 0 0 transparent;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08), 0 0 0 transparent;
}

.post-card-image img {
  border-radius: 20px;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.post-card-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.post-card:hover .post-card-image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.post-card:hover .post-card-content .entry-title a {
  color: #131315;
  display: inline;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), color-stop(98%, currentColor));
  background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
  text-decoration: none;
  background-size: 100% 1px;
}

.post-card:hover .post-card-content .entry-title a:hover {
  color: #131315;
  text-decoration: none;
  background-size: 100% 1px;
}

.post-card:hover .post-card-content .entry-meta .post-author a {
  color: #131315;
}

.post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 30px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post-list-image {
  width: 50%;
  margin-right: 25px;
  margin-left: -60px;
  overflow: hidden;
  border-radius: 20px;
}

.post-list-image img {
  border-radius: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post-list-content {
  width: 50%;
}

.post-list:hover .post-list-image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.post-list:hover .post-list-content .entry-title a {
  color: #131315;
  display: inline;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), color-stop(98%, currentColor));
  background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
  text-decoration: none;
  background-size: 100% 1px;
}

.post-list:hover .post-list-content .entry-title a:hover {
  color: #131315;
  text-decoration: none;
  background-size: 100% 1px;
}

.post-list:hover .post-list-content .entry-meta .post-author a {
  color: #131315;
}

/* ------------------------------
		Post-single
------------------------------ */
.post-single {
  background-color: #ffffff !important;
  padding: 30px;
  border-radius: 20px !important;
  margin-bottom: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post-single-image {
  margin-top: -60px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.post-single-image img {
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post-single-video, .post-single-audio {
  margin-top: -60px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.post-single-video iframe, .post-single-audio iframe {
  width: 100%;
  height: 500px;
  border: 0px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  border-radius: 20px;
}

.post-single-gallery {
  margin-top: -60px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.post-single-gallery .slider-style5 {
  padding: 0;
  border-radius: 20px;
}

.post-single-gallery .slider-style5 .slider-item {
  border-radius: 20px;
}

.post-single-gallery .slider-style5 .slider-item:after {
  display: none;
  border-radius: 20px;
}

.post-single-gallery .slider-style5 .swiper-button-next,
.post-single-gallery .slider-style5 .swiper-button-prev {
  background-color: #ffffff;
}

.post-single-gallery .slider-style5 .swiper-button-next:after,
.post-single-gallery .slider-style5 .swiper-button-prev:after {
  color: #131315;
}

.post-single-gallery img {
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  margin-bottom: 30px;
}

.post-single-content .categorie {
  margin-bottom: 20px;
}

.post-single-content .title {
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.post-single-content .title a:hover {
  color: #f67280;
}

.post-single-content p {
  margin-bottom: 30px;
}

.post-single-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}

.post-single-info li {
  margin-bottom: 0;
  font-size: 13px;
  color: #94979e;
  text-transform: capitalize;
  font-weight: 400;
}

.post-single-body {
  margin-top: 30px;
}

.post-single-body h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-single-body .image {
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-single-body .image img {
  border-radius: 5px;
}

.post-single-body .image p {
  color: #94979e;
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.post-single-body .quote {
  background-color: #F9F9FF;
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.post-single-body .quote i {
  font-size: 30px;
  color: #f67280;
}

.post-single-body .quote p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #131315;
  font-weight: 900;
}

.post-single-body .quote small {
  color: #94979e;
  font-weight: 400;
}

.post-single-body .list {
  margin-bottom: 15px;
}

.post-single-body .list li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
}

.post-single-body .list li:before {
  background-color: #94979e;
  border-radius: 50%;
  position: absolute;
  content: "";
  left: 0;
  top: 12px;
  width: 5px;
  height: 5px;
}

.post-single-footer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-single-footer .tags ul li {
  background-color: #F9F9FF;
  padding: 4px 11px;
  margin-bottom: 5px;
  margin-right: 2px;
  border-radius: 20px;
  font-size: 13px;
  text-transform: capitalize;
  color: #444;
  font-weight: 500;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.post-single-footer .tags ul li:hover {
  background-color: #f67280 !important;
}

.post-single-footer .tags ul li:hover a {
  color: #ffffff !important;
}

.post-single-footer .social-media {
  text-align: center;
  margin-left: auto;
}

/* ------------------------------
		Categorie
------------------------------ */
.categorie {
  background-color: #f67280;
  color: #ffffff;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-family: "Inter Tight", sans-serif;
  padding: 6px 12px 6px 12px;
  font-weight: 600;
  font-size: 12px;
  border-radius: 20px;
  text-transform: capitalize;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.categorie:hover {
  background-color: #2b2b2b;
  color: #ffffff !important;
}

.categorie-section {
  margin-top: 50px;
  margin-bottom: 40px;
}

.categorie-title small a:hover {
  color: #f67280;
}

.categorie-title small i {
  margin: 0 5px;
}

.categorie-title h3 {
  margin-bottom: 10px;
}

.categorie-title h3 span {
  color: #f67280;
}

.categorie-title h2 {
  margin-bottom: 10px;
}

.categorie-title h2 span {
  color: #f67280;
}

.categorie-title p {
  margin-bottom: 0px;
}

/* ------------------------------
		sliders
------------------------------ 
/*slider-style1*/
.slider-style1 {
  height: 750px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-style1 .swiper-wrapper {
  width: 100%;
  height: 750px;
  min-width: 100%;
}

.slider-style1 .slider-item {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-right: 0;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  padding: 50px;
}

.slider-style1 .slider-item:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: rgba(19, 19, 21, 0.6);
  z-index: -1;
}

.slider-style1 .slider-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider-style1 .slider-item:hover .slider-item-content .entry-title a {
  color: #ffffff;
  display: inline;
  color: #ffffff;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(98%, #ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style1 .slider-item:hover .slider-item-content .entry-title a:hover {
  color: #ffffff;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style1 .slider-item-content .entry-title {
  margin: 20px 0 30px 0;
}

.slider-style1 .slider-item-content .entry-title a {
  color: #ffffff;
  display: inline;
  color: #ffffff;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(98%, #ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
}

.slider-style1 .slider-item-content .entry-title a:hover {
  color: #ffffff;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style1 .slider-item-content .entry-meta {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-style1 .slider-item-content .entry-meta li {
  color: #eee;
}

.slider-style1 .slider-item-content .entry-meta .post-author a {
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider-style1 .slider-item-content .entry-meta .post-author a:hover {
  color: #f67280 !important;
}

.slider-style1 .swiper-horizontal > .swiper-pagination-bullets,
.slider-style1 .swiper-pagination-bullets.swiper-pagination-horizontal,
.slider-style1 .swiper-pagination-custom,
.slider-style1 .swiper-pagination-fraction {
  bottom: 50px;
  left: 0;
  width: 100%;
}

.slider-style1 .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  opacity: 1;
  border: 1px solid #ffffff;
}

.slider-style1 .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.slider-style1 .swiper-button-next,
.slider-style1 .swiper-button-prev {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: block;
  background-color: transparent;
  z-index: 999;
  text-align: center;
}

.slider-style1 .swiper-button-next:after, .slider-style1 .swiper-button-next:after,
.slider-style1 .swiper-button-prev:after,
.slider-style1 .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 12px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: #ffffff;
  font-weight: 900;
}

.slider-style1 .swiper-button-next {
  right: 40px;
}

.slider-style1 .swiper-button-prev {
  left: 40px;
}

/*slider-style2*/
.slider-style2 {
  height: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.slider-style2 .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slider-style2 .swiper-slide {
  text-align: left;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider-style2 .swiper-top {
  height: 700px;
  width: 100%;
}

.slider-style2 .swiper-top .swiper-slide {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.slider-style2 .swiper-top .slider-item {
  position: relative;
  text-align: left;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.slider-style2 .swiper-top .slider-item:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.slider-style2 .swiper-top .slider-item-inner {
  width: 100%;
  height: calc(700px - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-style2 .swiper-top .slider-item-content {
  padding: 0px;
}

.slider-style2 .swiper-top .slider-item-content .entry-title {
  margin: 15px 0 20px 0;
}

.slider-style2 .swiper-top .slider-item-content .entry-title a {
  color: #ffffff;
}

.slider-style2 .swiper-top .slider-item-content .post-exerpt {
  margin-bottom: 20px;
}

.slider-style2 .swiper-top .slider-item-content .post-exerpt p {
  color: #d9d9d9;
  font-family: "Roboto", sans-serif;
}

.slider-style2 .swiper-top .slider-item-content .entry-meta li {
  color: #eee;
  font-weight: 600;
}

.slider-style2 .swiper-top .slider-item-content .entry-meta .post-author a {
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider-style2 .swiper-top .slider-item-content .entry-meta .post-author a:hover {
  color: #f67280 !important;
}

.slider-style2 .swiper-bottom {
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider-style2 .swiper-bottom .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider-style2 .swiper-bottom .swiper-slide {
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.slider-style2 .swiper-bottom .swiper-slide .post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  text-align: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.slider-style2 .swiper-bottom .swiper-slide .post-item img {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
  border-radius: 20px;
  background-color: #ffffff;
}

.slider-style2 .swiper-bottom .swiper-slide .post-item .entry-title {
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0px 0px 1px 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
}

.slider-style2 .swiper-bottom .swiper-slide .post-item .entry-title span {
  display: inline;
  color: #ffffff;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(98%, #ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
}

.slider-style2 .swiper-bottom .swiper-slide .post-item .entry-title span:hover {
  color: #ffffff;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style2 .swiper-bottom .swiper-slide .post-item .entry-meta li {
  color: #d9d9d9;
  font-size: 12px;
  text-transform: capitalize;
  margin-top: 0px;
}

.slider-style2 .swiper-bottom .swiper-slide-thumb-active .post-item img {
  border: 2px solid #ffffff;
}

/*slider-style3*/
.slider-style3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 60px 50px 60px 50px;
}

.slider-style3 .swiper-wrapper {
  width: 100%;
  height: 600px;
  min-width: 100%;
}

.slider-style3 .swiper-slide {
  text-align: left;
}

.slider-style3 .slider-item {
  position: relative;
  z-index: 1;
  text-align: left;
  margin-right: 0;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
}

.slider-style3 .slider-item:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-radius: 20px;
}

.slider-style3 .slider-item:hover .slider-item-content .entry-title a {
  color: #ffffff;
  display: inline;
  color: #ffffff;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(98%, #ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style3 .slider-item:hover .slider-item-content .entry-title a:hover {
  color: #ffffff;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style3 .slider-item-content .entry-title {
  margin: 10px 0 10px 0;
}

.slider-style3 .slider-item-content .entry-title a {
  color: #ffffff;
  display: inline;
  color: #ffffff;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(98%, #ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
}

.slider-style3 .slider-item-content .entry-title a:hover {
  color: #ffffff;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style3 .slider-item-content .entry-meta li {
  color: #eee;
}

.slider-style3 .slider-item-content .entry-meta .post-author a {
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider-style3 .slider-item-content .entry-meta .post-author a:hover {
  color: #f67280 !important;
}

.slider-style3 .swiper-button-next,
.slider-style3 .swiper-button-prev {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: block;
  background-color: #ffffff;
  z-index: 999;
  text-align: center;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.slider-style3 .swiper-button-next:after, .slider-style3 .swiper-button-next:after,
.slider-style3 .swiper-button-prev:after,
.slider-style3 .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 14px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: #131315;
  font-weight: 900;
}

.slider-style3 .swiper-button-next {
  right: 30px;
}

.slider-style3 .swiper-button-prev {
  left: 30px;
}

/*slider-style4*/
.slider-style4 {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0px 3px 0px 0px;
  background-color: #ffffff;
}

.slider-style4 .swiper-wrapper {
  width: 100%;
  height: 650px;
  min-width: 100%;
  overflow: hidden;
}

.slider-style4 .slider-item {
  position: relative;
  z-index: 1;
  text-align: left;
  margin-right: 0;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  padding: 30px;
  border-radius: 0;
  overflow: hidden;
}

.slider-style4 .slider-item:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-radius: 0;
}

.slider-style4 .slider-item:hover .slider-item-content .entry-title a {
  color: #ffffff;
  display: inline;
  color: #ffffff;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(98%, #ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style4 .slider-item:hover .slider-item-content .entry-title a:hover {
  color: #ffffff;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style4 .slider-item-content .entry-title {
  margin: 0px 0 10px 0;
}

.slider-style4 .slider-item-content .entry-title a {
  color: #ffffff;
  display: inline;
  color: #ffffff;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(98%, #ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
}

.slider-style4 .slider-item-content .entry-title a:hover {
  color: #ffffff;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style4 .slider-item-content .entry-meta {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider-style4 .slider-item-content .entry-meta li {
  color: #eee;
}

.slider-style4 .slider-item-content .entry-meta li .dot {
  background-color: #ffffff;
}

.slider-style4 .slider-item-content .entry-meta .post-author a {
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider-style4 .slider-item-content .entry-meta .post-author a:hover {
  color: #f67280 !important;
}

.slider-style4 .swiper-horizontal > .swiper-pagination-bullets,
.slider-style4 .swiper-pagination-bullets.swiper-pagination-horizontal,
.slider-style4 .swiper-pagination-custom,
.slider-style4 .swiper-pagination-fraction {
  bottom: -20px;
  left: 0;
  width: 100%;
}

.slider-style4 .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  opacity: 1;
}

.slider-style4 .swiper-pagination-bullet-active {
  background-color: #f67280;
}

.slider-style4 .swiper-button-next,
.slider-style4 .swiper-button-prev {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: block;
  background-color: transparent;
  z-index: 999;
  text-align: center;
}

.slider-style4 .swiper-button-next:after, .slider-style4 .swiper-button-next:after,
.slider-style4 .swiper-button-prev:after,
.slider-style4 .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 14px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: #ffffff;
  font-weight: 900;
}

/*slider-style5*/
.slider-style5 {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 60px 0px;
  border-radius: 10px;
}

.slider-style5 .swiper-wrapper {
  width: 100%;
  height: 650px;
  min-width: 100%;
}

.slider-style5 .slider-item {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-right: 0;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  padding: 30px 30px 50px 30px;
  border-radius: 10px;
  overflow: hidden;
}

.slider-style5 .slider-item:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-radius: 10px;
}

.slider-style5 .slider-item:hover .slider-item-content .entry-title a {
  color: #ffffff;
  display: inline;
  color: #ffffff;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(98%, #ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style5 .slider-item:hover .slider-item-content .entry-title a:hover {
  color: #ffffff;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style5 .slider-item-content {
  padding-bottom: 0px;
}

.slider-style5 .slider-item-content .entry-title {
  margin: 10px 0 20px 0;
}

.slider-style5 .slider-item-content .entry-title a {
  color: #ffffff;
  display: inline;
  color: #ffffff;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(98%, #ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
}

.slider-style5 .slider-item-content .entry-title a:hover {
  color: #ffffff;
  text-decoration: none;
  background-size: 100% 1px;
}

.slider-style5 .slider-item-content .entry-meta {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-style5 .slider-item-content .entry-meta li {
  color: #eee;
}

.slider-style5 .slider-item-content .entry-meta .post-author a {
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider-style5 .slider-item-content .entry-meta .post-author a:hover {
  color: #f67280 !important;
}

.slider-style5 .swiper-button-next,
.slider-style5 .swiper-button-prev {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: block;
  background-color: transparent;
  z-index: 999;
  text-align: center;
}

.slider-style5 .swiper-button-next:after, .slider-style5 .swiper-button-next:after,
.slider-style5 .swiper-button-prev:after,
.slider-style5 .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 14px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: #ffffff;
  font-weight: 900;
}

.slider-style5 .swiper-button-next {
  right: 30px;
}

.slider-style5 .swiper-button-prev {
  left: 30px;
}

/*slider-style6*/
.slider-style6 {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 90px 50px 30px 50px;
  margin-bottom: 20px;
}

.slider-style6 .swiper-wrapper {
  width: 100%;
  min-width: 100%;
}

.slider-style6 .swiper-wrapper .swiper-slide {
  text-align: left;
}

.slider-style6 .slider-item {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.slider-style6 .swiper-horizontal > .swiper-pagination-bullets,
.slider-style6 .swiper-pagination-bullets.swiper-pagination-horizontal,
.slider-style6 .swiper-pagination-custom,
.slider-style6 .swiper-pagination-fraction {
  bottom: 30px;
  left: 0;
  width: 100%;
}

.slider-style6 .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border-radius: 20px;
  opacity: 1;
  border: 1px solid #f67280;
}

.slider-style6 .swiper-pagination-bullet-active {
  background-color: #f67280;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

/* ------------------------------
		About
------------------------------ */
.about-us {
  background-color: #ffffff !important;
  padding: 30px;
  border-radius: 20px !important;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.about-us-image {
  margin-top: -60px;
  margin-bottom: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08), 0 0 0 transparent;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08), 0 0 0 transparent;
}

.about-us-image img {
  border-radius: 20px;
}

.about-us .description h6 {
  margin-bottom: 15px;
  font-size: 18px;
}

.about-us .description .quote {
  background-color: #F9F9FF;
  padding: 30px;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.about-us .description .quote i {
  font-size: 30px;
  color: #f67280;
}

.about-us .description .quote h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #131315;
}

.about-us .description .quote small {
  color: #94979e;
  font-weight: 400;
}

/* ------------------------------
		contact
------------------------------ */
.contact {
  background-color: #ffffff !important;
  padding: 30px;
  border-radius: 20px !important;
  margin-bottom: 60px;
  display: block;
  position: relative;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.contact .google-map {
  margin-top: -60px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08), 0 0 0 transparent;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08), 0 0 0 transparent;
  line-height: 0;
  border: 0;
  border-radius: 20px;
}

.contact .google-map iframe {
  width: 100%;
  height: 500px;
  border: 0;
  border-radius: 20px;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.contact_form h5 {
  margin-bottom: 10px;
}

/* ------------------------------
		Footer
------------------------------ */
.footer {
  background-color: #1d1d1d;
}

.footer .copyright {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright p {
  margin-bottom: 0;
  font-size: 15px;
  text-align: center;
  color: #d9d9d9;
  text-transform: capitalize;
}

.footer .copyright p a {
  color: #ffffff;
}

.footer .copyright p a:hover {
  color: #f67280;
}

.footer .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .back .back-top {
  width: 45px;
  height: 45px;
  background-color: #f67280;
  position: fixed;
  bottom: 15px;
  right: 30px;
  border-radius: 50%;
  z-index: 9;
  display: none;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid #f67280;
}

.footer .back .back-top i {
  color: #ffffff;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

.footer .back .back-top:hover {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  background-color: transparent;
  border: 1px solid #f67280;
}

.footer .back .back-top:hover i {
  color: #f67280;
}

/* -----------------------------
		 Preloader 
--------------------------------- */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #F9F9FF;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading .circle {
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f67280;
  -webkit-animation: load 0.9s infinite linear;
          animation: load 0.9s infinite linear;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes load {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/* ------------------------------
		 Responsive 
------------------------------ */
@media screen and (max-width: 1400px) {
  .slider-style2 .swiper-top .slider-item-inner {
    padding: 0px 45px 0px 45px;
  }
  .slider-style2 .swiper-bottom {
    padding: 0px 0px 0px 45px;
  }
  .container-wrap {
    padding: 0px 15px;
  }
}

@media screen and (max-width: 1387px) {
  .slider-style2 .swiper-top .slider-item-inner {
    padding: 0px 15px 0px 15px;
  }
  .slider-style2 .swiper-bottom {
    padding: 0px 30px 0px 30px;
  }
}

@media all and (max-width: 1200px) {
  .navbar-expand-xl .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
  .header-main .header-action-items .navbar-toggler {
    display: block;
  }
  .header-main .site-branding {
    width: 50%;
  }
  .main-menu {
    background: #ffffff;
    position: absolute;
    top: 84px;
    width: 100%;
    left: 0;
    right: 0px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #ffffff;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }
  .main-menu .nav-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-right: 0;
    padding: 10px 30px;
    color: #131315 !important;
  }
  .main-menu .navbar {
    padding: 0;
  }
  .main-menu .navbar-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding: 15px 0px 15px 0px;
  }
  .main-menu .navbar-collapse {
    border-top: 1px solid #eee;
  }
  .main-menu .nav-item {
    width: 100%;
    text-align: left;
  }
  .main-menu .dropdown-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px 0px 30px 0px;
    position: relative;
    top: 0;
    width: calc(100% - 60px);
    margin: 0px 30px 20px 30px;
    border-radius: 10px;
    background-color: #F9F9FF;
  }
  .main-menu .dropdown-menu li {
    padding: 0px 30px;
  }
  .main-menu .dropdown-item {
    padding: 20px 0px 0px 0px;
  }
}

@media screen and (max-width: 991px) {
  .max-width {
    margin: auto;
    width: 600px;
    margin-bottom: 20px;
  }
  .slider-style1 .swiper-button-next,
  .slider-style1 .swiper-button-prev {
    display: none;
  }
  .post-list {
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-list-image {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -60px;
    margin-bottom: 20px;
    width: 100%;
  }
  .post-list-content {
    width: 100%;
  }
  .blog-list {
    padding-left: 0px;
    margin-top: 30px;
  }
  .slider-style2 .swiper-bottom .swiper-slide {
    width: 100px !important;
  }
  .slider-style2 .swiper-bottom .swiper-slide .post-item {
    width: 90px;
  }
  .slider-style2 .swiper-bottom .swiper-slide .post-item .details {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    width: 100%;
  }
  .search-form input {
    width: calc(100% - 100px);
  }
  .inner-width,
  .newslettre-width {
    width: auto;
    margin: auto;
  }
  .search .close {
    right: 30px;
  }
  .slider-style2 .swiper-top .slider-item-inner {
    padding: 0px 35px 0px 35px;
  }
  .slider-style2 .swiper-bottom {
    padding: 0px 0px 0px 35px;
  }
  .post-single-content .entry-meta .post-comment,
  .slider-style5 .swiper-button-next,
  .slider-style5 .swiper-button-prev {
    display: none;
  }
  .slider-style5 .slider-item,
  .slider-style5 .swiper-wrapper {
    height: 500px;
    padding: 0;
  }
  .slider-style1 .slider-item {
    padding: 50px 15px;
  }
}

@media screen and (max-width: 576px) {
  .max-width,
  .search-width {
    max-width: 100%;
    margin: 0;
  }
  .max-width-400,
  .page404,
  .sign {
    width: auto;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 25px;
  }
  .navbar-right .social-icones,
  .navbar-right .search-icon {
    display: none;
  }
  .theme-switch-wrapper {
    margin-right: 0px;
  }
  .widget-comments .comment-item {
    display: block;
  }
  .widget-comments .comment-item img {
    margin-bottom: 15px;
  }
  .post-single-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .post-single-footer .social-media {
    margin-top: 20px;
    margin-left: 0;
  }
  .contact .google-map iframe {
    height: auto;
  }
  .header-main .header-action-items .header-social,
  .post-card .post-card-content .entry-meta .post-comment,
  .post-card .post-card-content .entry-meta .post-timeread,
  .slider-style3 .slider-item-content .entry-meta .post-timeread,
  .slider-style1 .slider-item-content .entry-meta .post-timeread,
  .post-single-content .entry-meta .post-timeread,
  .post-list-content .entry-meta .post-timeread,
  .slider-style5 .slider-item .slider-item-content .entry-meta .post-timeread,
  .slider-style1 .slider-item-content .entry-meta .post-comment,
  .slider-style2 .swiper-top .slider-item-content .entry-meta .post-author-img,
  .slider-style2 .swiper-top .slider-item-content .entry-meta .post-comment {
    display: none;
  }
  .slider-style2 .swiper-top .slider-item-inner {
    padding: 0px;
  }
  .slider-style2 .swiper-bottom {
    padding: 0px 0px 0px 15px;
  }
  .post-list {
    margin-bottom: 70px;
  }
  .post-single,
  .widget {
    padding: 20px;
  }
  .slider-style3 {
    padding: 50px 15px;
  }
  .slider-style2 .swiper-bottom .swiper-slide {
    width: 70px !important;
  }
  .slider-style2 .swiper-bottom .swiper-slide .post-item img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
  .slider-style4 .swiper-wrapper,
  .slider-style4 .slider-item {
    height: 400px;
  }
  .slider-style6 {
    padding: 90px 10px 30px 10px;
    margin-bottom: 20px;
  }
  .post-single-video iframe,
  .post-single-audio iframe,
  .slider-style5 .slider-item,
  .slider-style5 .swiper-wrapper {
    height: 400px;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }
  .page404 {
    padding: 30px 0px 60px 0px;
  }
}

@media screen and (max-width: 371px) {
  h1 {
    font-size: 28px;
  }
  .main {
    margin-top: 80px;
  }
  .main-menu {
    top: 80px;
  }
  .widget-instagram {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .newslettre-form .form-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newslettre-form .form-control {
    border-radius: 20px !important;
  }
  .newslettre-form .submit-btn {
    width: 100%;
    border-radius: 20px !important;
    margin-top: 10px;
  }
  .search .close {
    right: 15px;
    top: 15px;
  }
  .search-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .search-form input {
    border-radius: 20px !important;
    width: 100% !important;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
            box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  }
  .search-form .search-btn {
    width: 100%;
    height: 45px;
    border-radius: 20px !important;
    margin-top: 10px;
  }
  .sign-form .sign-controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sign-form .sign-controls a {
    margin-left: 0 !important;
    margin-top: 10px;
  }
  .widget-comments .comment-item .content .info li.dot {
    margin: 2px 10px !important;
  }
  .slider-style3 .slider-item {
    padding: 20px;
    height: 400px;
  }
  .slider-style3 .swiper-wrapper {
    height: 400px;
  }
  .slider-style3 .swiper-button-next {
    right: 0px;
  }
  .slider-style3 .swiper-button-prev {
    left: 0;
  }
  .slider-style5 .slider-item .slider-item-content .entry-meta .post-author-img,
  .post-card .post-card-content .entry-meta .post-author-img,
  .post-list .post-list-content .entry-meta .post-author-img,
  .slider-style3 .slider-item .slider-item-content .entry-meta .post-author-img,
  .slider-style2 .swiper-top .slider-item-content .entry-meta .post-timeread {
    display: none;
  }
  .about-us,
  .contact,
  .post-card,
  .post-list {
    padding: 20px;
  }
  .post-card-image {
    margin-top: -50px;
  }
  h4 {
    font-size: 22px;
  }
  .header .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .slider-style6 .slider-item .post-card {
    margin-bottom: 50px;
  }
  .blog-list {
    margin-top: 50px;
  }
}

/* ------------------------------
		Dark Mode
------------------------------ */
.dark {
  background-color: #1d1d1d;
  color: #d9d9d9;
}

.dark .section,
.dark .post-single-body .quote,
.dark .widget-tags ul li,
.dark .widget-categories li,
.dark .post-single-footer .tags ul li,
.dark .about-us .description .quote,
.dark .loading,
.dark .custom-control-label::before,
.dark .social-media a:hover {
  background-color: #1d1d1d;
}

.dark .header,
.dark .widget,
.dark .newslettre,
.dark .footer,
.dark .search,
.dark .widget-form .form-control,
.dark .newslettre-form .form-control,
.dark .search-form input {
  background-color: #2b2b2b;
}

.dark .post-list,
.dark .post-card,
.dark .contact,
.dark .post-single,
.dark .about-us {
  background-color: #2b2b2b !important;
}

.dark .post-card,
.dark .widget,
.dark .post-single,
.dark .newslettre,
.dark .navbar-scroll,
.dark .search-form {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dark .entry-meta li,
.dark .widget-latest-posts .post-item .content .post-date {
  color: #eee;
}

.dark .social-icones li a i,
.dark .post-card-info li,
.dark .post-single-body .quote small,
.dark .widget-categories li span,
.dark .widget-tags ul li,
.dark .widget-latest-posts .last-post .content small,
.dark .post-single-info li,
.dark .post-single-body .image p,
.dark .widget-comments .comment-item .content .info li,
.dark .newslettre-info p,
.dark .newslettre .social-icones li a,
.dark .footer .copyright p,
.dark .post-single-footer .tags ul li,
.dark .about-us .description .quote small,
.dark .social-media a i:hover,
.dark .post-single-footer .tags ul li a:hover,
.dark .widget-tags ul li a:hover,
.dark .sign-form .sign-controls .btn-link {
  color: #d9d9d9;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6,
.dark .navbar .nav-item .nav-link,
.dark .post-single-body .quote p,
.dark .widget-latest-posts .last-post .content a,
.dark .widget-next-post .small-post .content a,
.dark .widget-previous-post .small-post .content a,
.dark .newslettre-info h5,
.dark .about-us .description .quote p,
.dark .entry-title a,
.dark .about-us .description .quote h3,
.dark .post-card:hover .entry-title a,
.dark .header-action-items .header-social li a i,
.dark .header-action-items .switch-icon i,
.dark .post-card:hover .entry-meta .post-author a {
  color: #ffffff;
}

.dark .entry-title a:hover,
.dark .sign-form .btn-link {
  color: #ffffff !important;
}

.dark .entry-title a:hover {
  display: inline;
  color: #ffffff;
  padding-bottom: 0;
  -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(98%, #ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  overflow: visible !important;
}

.dark .post-card:hover .entry-title a
.post-card:hover .post-card-content .entry-title a {
  color: #ffffff;
  text-decoration: none;
  background-size: 100% 1px;
}

.dark .navbar-toggler span {
  background-color: #ffffff;
  -webkit-box-shadow: 0px -8px 0 0px #ffffff, 0px 8px 0 0px #ffffff;
          box-shadow: 0px -8px 0 0px #ffffff, 0px 8px 0 0px #ffffff;
}

.dark .footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.dark .custom-control-label::before,
.dark .widget-form .form-control {
  border-color: #1d1d1d;
}

.dark .main {
  border-color: #2b2b2b;
}

.dark .widget-comments,
.dark .newslettre-form .form-control,
.dark .widget-form .form-control,
.dark .search-form input {
  border-color: rgba(255, 255, 255, 0.1);
}

.dark .widget-form .form-control:hover,
.dark .widget-form .form-control:focus,
.dark .newslettre-form .form-control:focus,
.dark .newslettre-form .form-control:hover,
.dark .search-form input:hover,
.dark .search-form input:focus {
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dark .categorie:hover,
.dark .link:hover {
  background-color: #ffffff;
  color: #131315 !important;
}

.dark .sign-form .btn-link:hover {
  color: #f67280 !important;
}

.dark ::-webkit-input-placeholder {
  color: #d9d9d9 !important;
}

.dark :-ms-input-placeholder {
  color: #d9d9d9 !important;
}

.dark ::-ms-input-placeholder {
  color: #d9d9d9 !important;
}

.dark ::placeholder {
  color: #d9d9d9 !important;
}
